<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de imagenes</title>
</head>
<body>
    <body class="container " style="padding-top: 5%;">
        <div class="row">
          <a href="{% url 'index' %}"> < < Go back</a>
          <br>
          <br>
          <br>
            {% for imagen in imagenes %}
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="../imagen/{{ imagen.id }}">
                  <!-- {% if imagen.bluredfile %}
                    <img src="{{ imagen.bluredfile.url }}" alt="img" style="width:100%">
                  {% else %}
                    
                  {% endif %}-->
                  <img src="{{ imagen.file.url }}" alt="img" style="width:300px">
                  <div class="caption">
                    <p>{{ imagen.id }}</p>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
      </body>
               
</body>
</html>